* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #f8f8f8;
  --font-color01: #090320;
  --font-color02: #f8f8f8;
  --title-font: "Lateef", serif;
  --title-size: 55px;
  --text-size-h2: 55px;
  --text-size-h3: 27px;
  --letter-spacing-h2: 0.15em;
  --font-weight-h2: 400;
  --text-font: "KoHo", sans-serif;
  --text-size-p: 15px;
  --title-padding: 10%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* PORTRAIT */

.side_scroll {
  display: none;
}

/* MENU BURGER START */

nav img {
  position: absolute;
  top: 3.25vh;
  right: 6.75vw;
  width: 2rem;
  filter: invert(1);
}

.nav_links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(201, 201, 201, 0.389);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: +100%;
  transition: all 0.5s ease;
}

.nav_links ul {
  display: flex;
  flex-direction: column;
}

.nav_links ul li {
  margin: 0.75rem 0;
}

.navbar a {
  border-bottom: 1px solid black;
  padding-bottom: 1.5vh;
  font-family: var(--title-font);
  font-size: var(--text-size-h2);
  color: var(--font-color01);
}

.menu_burger {
  position: absolute;
  margin-top: 3vh;
  right: 6%;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background: rgba(227, 210, 210, 0.5);
  filter: blur(5px);
}

/* TRANSITIONS */

/* changements sur le bouton du menu */
.menu_burger.disable {
  transition: all 0.5s ease;
  opacity: 0;
}

.menu.toBlack {
  filter: invert(0);
}

/* apparition du menu */
.nav_links.mobile_menu {
  margin-left: 0;
}

.portrait_text.no_text {
  opacity: 0;
  transition: all 0.5s ease;
}

.portrait_text {

  transition: all 0.5s ease;
}

/* MENU BURGER END */

.portrait {
  width: 100%;
  height: 105vh;
  background-image: url("/img/Hermione.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 1rem 5rem 0 rgba(0, 0, 0, 0.5);
}

.portrait h1 {
  border-top: 1px solid white;
  width: 13rem;
  padding-top: 0.5rem;
  position: absolute;
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: var(--font-weight-h2);
  color: var(--font-color02);
  left: 5%;
  margin-top: 60vh;
  line-height: 70%;
}

.portrait h1 span {
  padding-left: 2rem;
  color: var(--font-color02);
  opacity: 0.8;
}

.portrait img {
  position: absolute;
  margin-top: 94vh;
  left: 50%;
  width: 1.5rem;
  opacity: 0.8;
  filter: invert(100%);
}

.citation {
  position: absolute;
  right: 6%;
  margin-top: 76vh;
}

.citation p {
  font-family: var(--text-font);
  font-style: italic;
  font-size: 1rem;
  color: var(--font-color02);
  text-align: right;
  opacity: 0.8;
  width: 8.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
  position: absolute;
  right: 6%;
}

.citation p {
  font-family: var(--text-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--font-color02);
  text-align: right;
  width: 11rem;
  padding-bottom: 0.75rem;
}

/* SKILLS */

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  text-align: center;
}

.skill img {
  width: 100px;
  opacity: 0.8;
}

.skill p {
  font-family: var(--text-font);
  font-style: normal;
  min-width: 17ch;
  max-width: 17ch;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20%;
}

.skill h3 {
  font-family: var(--title-font);
  line-height: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
}

/* 🌸 ABOUT ME SECTION NAO 🌸 */

.about_me {
  height: 21.8rem;
  width: 100%;
  color: var(--font-color01);
  display: flex;
  flex-direction: column;
}

#title_aboutme {
  margin-top: 52px;
  letter-spacing: 0.15em;
  font-family: var(--title-font);
  font-size: var(--text-size-h2);
  height: 57px;
  text-align: center;
  margin-bottom: 43px;
}

#box_overflow {
  overflow: hidden;
  height: 9rem;
  width: 22rem;
}

#carousel_box {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.item_carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 100%;
}

.title_carousel {
  font-family: var(--title-font);
  font-size: 27px;
}

.text_carousel {
  font-family: var(--text-font);
  width: 19.5rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  line-height: 21px;
}

#point_box {
  margin-top: 1rem;
  margin-left: 43.5%;
  margin-right: 43.5%;
  width: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.point_about_me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  opacity: 0.5;
}

.point_current {
  opacity: 1;
  transition-delay: 50ms;
}

#fleches_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.arrow_carousel:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
}

.arrow_carousel.disabled,
.arrow_carousel.disabled:hover {
  cursor: default;
  opacity: 0.5;
  transform: scale(1);
}


#L {
  height: 0;
  width: 0;


  transition: all 0.3s ease;

  border-top: solid transparent 0.45rem;
  border-bottom: solid transparent 0.45rem;
  border-right: solid var(--font-color01) 0.7rem;
}


#R {
  height: 0;
  width: 0;

  border-top: solid transparent 0.45rem;
  border-bottom: solid transparent 0.45rem;
  border-left: solid var(--font-color01) 0.7rem;
  transition: all 0.3s ease;
}

/*PENSINE*/

/* VERTICAL LINE START */
.vertical-line {
  position: absolute;
  height: 59.5rem;
  opacity: 0.9;
  border-left: 0.2rem solid rgb(0, 0, 0);
  left: 50%;
  margin-left: -2px;
}

.arrow-top {
  margin-left: -0.35rem;
  border-top: 0.5rem solid rgb(0, 0, 0);
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.drop {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22rem;
  padding-top: 3rem;
}

.drop img {
  opacity: 0.9;
  width: 2rem;
  height: 2rem;
}

.dot,
.dot2 {
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #000000;
  border-radius: 50%;
}

.dot {
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0.9;
  width: 2rem;
  height: 2rem;
}

.dot,
.dot2 {
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #000000;
  border-radius: 50%;
}

.dot {
  transform: translateX(-50%);
  bottom: 0;
}

.dot2 {
  transform: translateX(-50%);
  margin-top: 30rem;
}

/* VERTICAL LINE END */
.pensine {
  width: 100%;
  height: 45rem;
  background-image: url("/img/pensine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 2.4s;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 2.4s;
}

.animation-left {
  opacity: 1;
  transform: translateX(0);
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.animation-right {
  opacity: 1;
  transform: translateX(0);
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.grid {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
  grid-template-columns: repeat(2, 8.5rem);
  grid-template-rows: repeat(3, 1rem);
  gap: 7rem 1.5rem;
}

.grid p {
  font-family: var(--text-font);
  font-size: var(--text-size-p);
  color: var(--font-color02);
}

.grid hr {
  border-top: 2px solid rgb(255, 255, 255);
  width: 6rem;
  margin: 0.25rem 1.25rem;
}

.grid span {
  font-family: var(--text-font);
  font-size: 12px;
  color: rgb(205, 205, 205);
}

/*CONTACT*/
.contact {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color02);
  font-family: var(--text-font);
  letter-spacing: 0.1em;
}


/*BLUR*/
.index3 {
  z-index: 3;
}

.blur {
  z-index: 1;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 18rem;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 49rem;
  border-radius: 2rem 2rem 0 0;
}

.gradient {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 58rem;
  background: linear-gradient(180deg,
      #2b2f53 6.15%,
      rgba(165, 164, 181, 0.5) 100%);
  background-size: cover;
  background-position: center;
}

/*ARROWS*/
.contact .directional-arrows-container {
  display: flex;
  justify-content: center;
}

.contact .directional-arrows {
  background-image: url(/img/doubles-fleches.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  opacity: 0.8;
}

/*SECTION TITLE*/
.contact h2 {
  font-family: var(--title-font);
  font-size: var(--text-size-h2);
  letter-spacing: var(--letter-spacing-h2);
  font-weight: var(--font-weight-h2);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

/* FORM */
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input,
textarea {
  width: 16rem;
  background-color: rgba(228, 228, 228, 0.2);
  border: 2px solid rgba(233, 233, 233, 0.7);
  border-radius: 0.5rem;
  letter-spacing: 0.1em;
  font-family: var(--text-font);
  font-size: var(--text-size-p);
  color: var(--primary-color);
  text-align: center;
}

input,
textarea:focus {
  outline: none;
}

.contact form input {
  height: 40px;
  margin: 0.3rem 0 1.25rem 0;
}


.contact form textarea {
  margin: 0.3rem 0 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: none;
}

.contact form ::placeholder {
  text-align: center;
  font-size: var(--text-size-p);
  color: var(--primary-color);
  opacity: 0.5;
  height: 2.5rem;
  margin: 0.3rem 0 1.25rem 0;
}


#error-message-firstname,
#error-message-email,
#error-message-text {
  color: red;
  font-family: var(--text-font);
  font-size: 13px;
}

.contact .button {
  width: 4.5rem;
  height: 1.8rem;
  color: var(--font-color02);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}



/* BUBBLE */
.contact .bubble {
  display: none;
  margin: 0 4rem 0 4rem;
  padding: 0.5rem;
  width: 16rem;
  height: 5.5rem;
  position: relative;
  background-color: rgba(228, 228, 228, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 13px;
  font-family: var(--text-font);
  transition-duration: all 0.5s ease;
}

.contact .bubble .close {
  width: 8%;
  position: absolute;
  left: 90%;
  top: 0.3rem;
  filter: invert(100%);
  opacity: 54%;
}

.contact .bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 43.9%;
  border-top: 1rem solid rgba(228, 228, 228, 0.2);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

/* HEDWIDGE */
.contact .hedwige-mobile {
  display: flex;
  justify-content: center;
}

.contact .hedwige-mobile img {
  height: 3.5rem;
  margin-top: 6.7rem;
  margin-bottom: -0.3rem;
}

/* ARROW */
.contact .arrow-container {
  display: flex;
  justify-content: center;
}

.contact .arrow-container img {
  /* width: 45%; */
  width: 172.8px;
  height: 0.5rem;
}

/* FOOTER */

/* .footer-container {
  position: relative;
  height: 20vh;
} */

.footer {
  position: absolute;
  width: 100%;
  margin-top: 35.5rem;
  color: var(--font-color01);
  text-align: center;
  font-family: var(--text-font);
}