* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary-color: #F8F8F8;
    --font-color01: #090320;
    --font-color02: #F8F8F8;
    --title-font: 'Lateef', serif;
    --title-size: 60px;
    --text-size-h2: 55px;
    --text-size-h3: 27px;
    --letter-spacing-h2: 0.15em;
    --font-weight-h2: 400;
    --text-font: 'KoHo', sans-serif;
    --text-size-p: 15px;
    --title-padding: 10%;
}

/* PORTRAIT */
.portrait  {
  width: 100%;
  background-image: url("/img/Hermione.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 2rem 2rem 5rem 0 rgba(0,0,0,0.3);
  height: 40rem;
}
.portrait h1 hr{
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 14rem;
}
.portrait h1{
  position: absolute;
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: var(--font-weight-h2);
  color: var(--font-color02);
  left: 5%;
  margin-top: 22.5rem;
  line-height: 70%;
}
.portrait h1 span{
  padding-left: 2rem;
  color: var(--font-color02);
  opacity: 0.8;
}
.citation {
  position: absolute;
  right:6%;
  margin-top: 29rem;
  /* border-bottom: 2px solid white; */
}
.citation p{
  font-family: var(--text-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--font-color02);
  text-align: right;
  width: 11rem;
  padding-bottom: 0.75rem;
}

.citation hr{
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 11rem;
}

/* Skills */
.skills {
    /* background-color: var(--primary-color); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    text-align: center;
}

.skill img {
    width: 100px;
    opacity: 0.8;
}

.skill p {
    font-family: var(--text-font);
    font-style: normal;
    min-width: 17ch;
    max-width: 17ch;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20%;
}

.skill h3 {
    font-family: var(--title-font);
    line-height: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
}

/* 🌸 ABOUT ME SECTION NAO 🌸 */

.about_me {
    border: solid red 1px;
    height: 349px;
    width: 100%;
    color: var(--font-color01);
    display: flex;
    flex-direction: column;
}

#title_aboutme {
    margin-top: 52px;
    letter-spacing: 0.15em;
    font-family: var(--title-font);
    font-size: var(--text-size-h2);
    height: 57px;
    text-align: center;
    margin-bottom: 43px;
}

#caroussel_box {
    height: 197px;
    width: 100%;
}

#today_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title_today {
    font-family: var(--title-font);
    font-size: 27px;
    height: 47px;
}

#p_today {
    font-family: var(--text-font);
    width: 312px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    height: 54px;
    line-height: 21px;
}



/*PENSINE*/

/* VERTICAL LINE START */
.vertical-line {
  opacity: 0.9;
  border-left: 0.2rem solid rgb(0, 0, 0);
  height: 59.5rem;
  position: absolute;
  left: 50%;
  margin-left: -2px;
}
.arrow-top{
  margin-left: -0.35rem;
  border-top : 0.5rem solid rgb(0, 0, 0);
  border-right : 0.25rem solid transparent;
  border-left : 0.25rem solid transparent;
}
.drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22rem;
    padding-top: 3rem;
}
.drop img {
    opacity: 0.9;
    width: 2rem;
    height: 2rem;
} 
.dot, .dot2 {
  opacity: 0.9;
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #000000;
  border-radius: 50%;
}
.dot {
  transform: translateX(-50%);
  bottom: 0;
}
.dot2 {
  transform: translateX(-50%);
  margin-top: 30rem;
}
/* VERTICAL LINE END */
.pensine {
    width: 100%;
    height: 45rem;
    background-image: url("/img/pensine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 6rem;
    grid-template-columns: repeat(2, 8.5rem);
    grid-template-rows: repeat(3, 1rem);
    gap: 7rem 1.5rem;
}

.grid p {
    font-family: var(--text-font);
    font-size: var(--text-size-p);
    color: var(--font-color02);
}

.grid hr {
    border-top: 2px solid rgb(255, 255, 255);
    width: 6rem;
    margin: 0.25rem 1rem;
}

.grid span {
    font-family: var(--text-font);
    font-size: 12px;
    color: rgb(205, 205, 205);
}

/*CONTACT*/
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color02);
    font-family: var(--text-font);
    letter-spacing: 0.1em;
}

.contact .directional-arrow-top,

/*BLUR*/
.index3 {
    z-index: 3;
}

.blur {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 18rem;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 49rem;
    border-radius: 2rem 2rem 0 0;
}

.gradient {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 47rem;
    background: linear-gradient(180deg, #2B2F53 6.15%, rgba(165, 164, 181, 0.5) 100%);
    background-size: cover;
    background-position: center;
}

/*ARROWS*/

.contact .directional-arrows-container {
    display: flex;
    justify-content: center;
}

.contact .directional-arrows {
    background-image: url(/img/doubles-fleches.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
    transform: rotate(90deg);
    opacity: 0.8;
}

/*SECTION TITLE*/

.contact h2 {
    font-family: var(--title-font);
    font-size: var(--text-size-h2);
    letter-spacing: var(--letter-spacing-h2);
    font-weight: var(--font-weight-h2);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

/* FORM */

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input,
textarea,
button {
    width: 244px;
    background-color: rgba(228, 228, 228, 0.2);
    border: 2px solid rgba(233, 233, 233, 0.7);
    border-radius: 8px;
    letter-spacing: 0.1em;
    font-family: var(--text-font);
    font-size: var(--text-size-p);
    color: var(--primary-color);
    text-align: center;
}

.contact form input {
    height: 40px;
    margin: 0.3rem 0 1.25rem 0;

}

.contact form textarea {
    margin: 0.3rem 0 1.25rem 0;
    border-radius: 10px;
    padding: 0.5rem;
}

.contact form ::placeholder {
    text-align: center;
    font-size: var(--text-size-p);
    color: var(--primary-color);
    opacity: 0.5;
}

.contact form button {
    width: 4.5rem;
    height: 1.5rem;
    color: var(--font-color02);
    margin-bottom: 3rem;
}

/* HEDWIDGE */
.contact .hedwige {
    display: flex;
    justify-content: center;
}

.contact .hedwige img {
    height: 3.5rem;
    margin-bottom: -0.3rem;
}

/* ARROW */
.contact .arrow-container {
    display: flex;
    justify-content: center;
}

.contact .arrow-container img {
    width: 45%;
    height: 0.5rem;
}

/* FOOTER */

.contact .footer .copyright p {
    color: var(--font-color01);
    padding: 1rem;
    text-align: center;
}